﻿@model Ticketing.Models.Event

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Venue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Venue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyFriendly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyFriendly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllAges)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllAges)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EighteenAndOver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EighteenAndOver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwentyOneAndOver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwentyOneAndOver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HearingImpaired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HearingImpaired)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HandicapAccess)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HandicapAccess)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Camping)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Camping)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
