﻿@model IEnumerable<Ticketing.Models.Event>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Venue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Summary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyFriendly)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllAges)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EighteenAndOver)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TwentyOneAndOver)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HearingImpaired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HandicapAccess)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllowsCamping)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Venue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Summary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyFriendly)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllAges)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EighteenAndOver)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TwentyOneAndOver)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HearingImpaired)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HandicapAccess)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllowsCamping)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
